body{
background-color: lavender;
color: white;
font-family: "Playfair Display", serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

bottom{
    background-color: azure;
    color: white;
    font-family: "Playfair Display", serif;
}
}