body{
background-color: lavender;
color: black;
font-family: "Playfair Display", serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

bottom{
    background-color:gainsboro;
    color: black;
    font-family: "Playfair Display", serif;
}
}